<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center> Ask a question </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines padding-top>
    <ng-container *ngIf="!request.sectionId && !request.submited">
      <h3 style="color: white !important;text-align: center">
        Select a session to ask in
      </h3>

      <ion-card
        *ngFor="let section of sections"
        style="border: 0.5px solid;border-color: black;"
        (click)="onSelectSection(section)"
      >
        <ion-card-header>
          <b>{{ section.title }}</b>
        </ion-card-header>
        <ion-card-content>
          <h4>{{ section.Date }} {{ section.heure }}</h4>
          <h4><b>Subject :</b> {{ section.subject }}</h4>
          <h4><b>Moderator :</b> {{ section.moderator }}</h4>
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let speacker of section.speackers">
                {{ speacker.completeName }}</ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="request.sectionId && !request.submited">
      <form #questionForm="ngForm">
        <ion-item>
          <ion-label>Select speacker to ask</ion-label>
          <ion-select
            [(ngModel)]="request.speackerId"
            name="topic"
            [ngModelOptions]="{ standalone: true }"
            submitText="Submit"
            cancelText="Cancel"
            required
          >
            <ion-option *ngFor="let speaker of speakers" [value]="speaker.id">
              {{ speaker.completeName }}</ion-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Your question</ion-label>
          <ion-textarea
            rows="10"
            [(ngModel)]="request.question"
            name="question"
            placeholder="Question"
            required
          ></ion-textarea>
        </ion-item>

        <button
          ion-button
          block
          round
          color="secondary"
          (click)="addQuestion()"
          [disabled]="!questionForm.form.valid"
        >
          Submit
        </button>
      </form>
    </ng-container>

    <ng-container *ngIf="request.submited">
      <ion-card style="border: 0.5px solid;border-color: green;">
        <ion-card-content>
          Thanks for Submitting your question Moderator will view and filter all
          questions
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>
</ion-content>
