<ion-header>
  <ion-navbar no-border-bottom hideBackButton="true">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>

    <ion-title> Dashboard </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    {{dash.news | json}}

  <!--
    Real floating action button, fixed. It will not scroll with the content
  -->
  <ion-fab top right edge>
    <button ion-fab mini color="light"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="onNavigate('https://www.eoc-sa.com/terms/')">
        <ion-icon name="md-log-in"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!-- sliders -->
  <ion-slides
    *ngIf="dash.slides && dash.slides.length > 0"
    autoplay="2000"
    loop="true"
    speed="900"
  >
    <ion-slide *ngFor="let slide of dash.slides">
      <img [src]="slide" />
    </ion-slide>
  </ion-slides>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="program" class="bold">
        {{ dash.subject.title }}
      </ion-segment-button>
      <ion-segment-button (click)="askQuestion()" value="ask" class="bold">
        Ask a question
      </ion-segment-button>
      <ion-segment-button *ngIf="dash.news && dash.news.length > 0" value="news" class="bold">
        News
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="segment">
    <!-- program sections -->
    <ng-container *ngSwitchCase="'program'">
      {{ dash.subject.descption }}
    </ng-container>

    <!-- news sections -->
    <ng-container *ngIf="dash.news && dash.news.length > 0" no-lines>
      <ng-container no-lines *ngSwitchCase="'news'">
        <ion-list>
            <ion-item *ngFor="let new of dash.news">
              <h2>{{ new.createdAt }}</h2>
              <h3>{{ new.content }}</h3>
            </ion-item>
          </ion-list>

      </ng-container>
    </ng-container>
  </div>

  <img src="./assets/imgs/banners/1.png" class="center-check" />
</ion-content>
