<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-list *ngFor="let topic of topics">

    <ion-list-header (click)="topic.closed = !topic.closed">

      <ion-icon *ngIf="!topic.closed" name="md-remove" item-start></ion-icon>
      <ion-icon *ngIf="topic.closed" name="md-add" item-start></ion-icon>

      {{topic.value}}
    </ion-list-header>


    <ng-container *ngIf="!topic.closed">
        <ion-item *ngFor="let question of topic.questions" style="background-color: transparent !important; border-bottom: none" (click)="goToDetailPage(question.id)">
            <h2>{{question.content}}</h2>
            <h3>{{question.detail}}</h3>
        </ion-item>
    </ng-container>


  </ion-list>

</ion-content>
